<form [formGroup]="novoFilme">
    <div id="form">
        
        <div id="inputs">

            <h1>Novo Cadastro de Filme ou Série: </h1>

            <mat-form-field appearance="outline">
                <mat-label>Título do Filme / Série:</mat-label>
                <input matInput formControlName="nome">
                <mat-icon matSuffix>duo</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Escolha o Genero do Filme / Série</mat-label>
                <mat-select formControlName="genero">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
 
            <mat-form-field appearance="outline">
                <mat-label>Descreva a Sinapse do Filme / Série:</mat-label>
                <textarea #message maxlength="512" matInput formControlName="descricao" rows="8"></textarea>
                <mat-icon matSuffix>description</mat-icon>
                <mat-hint>{{message.value.length}} / 512</mat-hint>
            </mat-form-field>

        </div>

        <div id="imagem-upload">

            <br><br>
            <div id="imagem-content" (click)="fileInput.click()">
                <mat-icon *ngIf="!selectedFile">photo_camera</mat-icon>
                <img *ngIf="selectedFile" [src]="selectedFile" width="300">
            </div>

            <div>
                <button type="button" id="anx" mat-flat-button (click)="fileInput.click()">
                    Anexar Poster do Filme / Série
                </button>
                <input hidden (change)="onFileSelect($event)" #fileInput type="file" id="File">
            </div>

            <div id="rating">
                <button mat-icon-button class="ic" *ngFor="let ratingId of ratingArr; index as i"
                    (click)="onClick(i+1)">
                    <mat-icon>{{showIcon(i)}}</mat-icon>
                </button>
            </div>

        </div>
    </div>

    <div id="acoes">
        <div>
            <button mat-flat-button (click)="salvarFilme()">Salvar</button>
        </div>
    </div>

</form>