@use '~@angular/material' as mat;

@include mat.core();

$findfood-primary: mat.define-palette(mat.$indigo-palette);
$findfood-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$findfood-warn: mat.define-palette(mat.$red-palette);
$findfood-theme: mat.define-light-theme((
  color: (
    primary: $findfood-primary,
    accent: $findfood-accent,
    warn: $findfood-warn,
  )
));

@include mat.all-component-themes($findfood-theme);

html, body {
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: linear-gradient(rgba(136, 135, 135, 0.877), rgba(139, 139, 139, 0.815)), url(https://cdn.leroymerlin.com.br/products/papel_de_parede_adesivo_jovem_cinema_n014144_rolo_0,58x3m_1567440223_524f_600x600.jpg);
  
}

mat-card { margin: auto; width: 90%; background-color: rgba(0, 0, 0, 0.945) !important; top: 10%; color: white !important;}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {background-color: rgb(19, 70, 100);}

.mat-card-subtitle {color: rgb(255, 209, 25);}

.mat-dialog-container {background-color: rgba(209, 209, 209, 0.952);color: rgb(0, 0, 0);}

.mat-form-field-flex {color: rgb(0, 0, 0);}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgb(165, 170, 164);
}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

// esse SCSS comando toda a bagaça!